.serve {
  color: chocolate;
  font-style: italic;
}

.space {
  margin-right: 3px;
  margin-left: 2px;
}

.ingredientsTitle {
  color: chocolate;
  font-weight: bold;
  text-decoration: underline overline;
  text-underline-position: under;
}