@import './variables.scss';

body, html {
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

.container {
  background-color: floralwhite;
  font-family: Avenir, sans-serif;
  font-size: 14px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.content {
  height: $contentHeight;
  width: 100vw;
}