.menu {
  border-right: 1px solid gold;
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 5px;
}

.closeMenu {
  width: 25px;
  height: 25px;
  align-self: flex-end;
}

.menuTitles {
  color: chocolate;
}

.slideMenu {
  border-right: 1px solid gold;
  width: 30vw;
  display: flex;
  flex-direction: column;
  padding: 5px;
  position: fixed;
  background-color: antiquewhite;
  height: 100%;
  z-index: 999;
}

.openMenu {
  width: 25px;
  height: 25px;
}
